html {
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-fifth {
  width: 20%;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

img {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.padding-lr {
  padding: 0 10px;
}

.padding-row {
  padding: 0 10%;
}

.line-height-5 {
  line-height: 5px;
}

.grey-text {
  color: #d3d3d3;
}

.black-text {
  color: black;
}

.pink-background {
  background-color: #fff2e7;
  border: 1px solid fff2e7;
  border-radius: 5px;
}

.font-size {
  font-size: 16px;
  font-weight: 800;
}

.font-14 {
  font-size: 14px;
}
